*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background:#47419eb9; 
    user-select:none;
}
.container{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #9214cc9d;
    background: linear-gradient(90deg,#408cbf 20%, #1714cc 46%, rgb(31, 50, 160) 99%, #1f1da8 100%);
    padding: 40px 60px;    
}

#btn-verificar{
    padding: 10px 10px;
    width: 100%;
    color:#000000;
    background-color: #a19a9b;
    border:none;
    font-size: 2em;
    letter-spacing: 0.1em;
    text-transform:uppercase;
    cursor:pointer;
    font-weight: 600;
    border-radius: 20px; 
}

#btn-verificar:hover {
    background-color: #18168a;
}

.label {
    color: aliceblue;
    padding: 10px;
    font-size: 2em;
    justify-content:center;
    text-align: center;    /* Centraliza o texto */
    width: 100%;
}

input{
    width: 300px;
    height: 50px;
    font-size: 1em;
}

#resultado{
    padding: 20px;
    font-size: 2em;
    font-weight: 800;
    justify-content: center;
    display:flex;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    max-width: 100%; /* evita ultrapassar o container */
    white-space: normal; /* permite quebra de linha */
}